<div *ngIf="character">
    <h2>{{ character.name }}</h2>
    <img [src]="character.image" alt="{{ character.name }}">
    <p><strong>Status:</strong> {{ character.status }}</p>
    <p><strong>Species:</strong> {{ character.species }}</p>
    <p><strong>Gender:</strong> {{ character.gender }}</p>
    <p><strong>Origin:</strong> {{ character.origin.name }}</p>
    <p><strong>Episodes:</strong></p>
    <ul>
      <li *ngFor="let episode of character.episode">{{ episode }}</li>
    </ul>
  </div>
  