.character-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    table {
      width: 100%;
      max-width: 1200px;
    }
  
    .loading {
      text-align: center;
      padding: 20px;
      font-size: 1.5em;
      color: #888;
    }
  }
  